* {
  box-sizing: border-box;
}

nav {
  background-color: #efefef;
  width: 1400px;
  height: 100vh;
  margin: 0 auto;
}

.nav-container {
}

nav h1 {
  color: #ffff;
  font-weight: 500px;
}

.container {
  font-family: "Quicksand", sans-serif;
}

.nav-container {
  background-color: black;
  display: flex;
  width: 100vw;
  height: 100px;
}
